<div class='row well'>
	<button class='btn btn-primary btn btn-primary btn-lg' ng-click='modifyColSize()' ng-hide='searchBar'>SEARCH</button>
	<button class='btn btn-primary btn-lg' id='searchToggle' ng-click='modifyColSize()' ng-show='searchBar'>NEW CUSTOMER ENTRY FORM</button><br>
	<div class='form-group' ng-show='searchBar'>
		<input type='text' class='form-control' placeholder='Search...' ng-model="search">
	</div>
	<div class='col-sm-{{colSize}} col-md-{{colSize}} col-lg-{{colSize}}'>
		<h2 class='text-center'>Existing Customers</h2>
		<div ng-repeat='customer in customers | filter:search'>
			<button class='btn btn-info marginBottom' ng-click='customerInfo = !customerInfo'>More Info</button>
			<span class='inline'>
				<strong>Name: </strong>{{customer.firstName | noInfoFilter}} {{customer.lastName | noInfoFilter}} | 
				<strong>Email: </strong>{{customer.email | noInfoFilter}} | 
				<strong>Primary Phone: </strong>{{customer.phones[0] | noInfoFilter}}
			</span>
			<div class='row' ng-if='customerInfo'>
				<p class='updatedInfo text-center'>Entry was created on <strong>{{customer.createdAt | date:'medium'}}</strong></p>
				<p class='updatedInfo text-center' ng-if='customer.updatedAt'>Entry was last updated on <strong>{{customer.updatedAt | date:'medium'}}</strong></p>
				<update-customer-form></update-customer-form>
			</div>
			<div class='borderBottom'></div>
		</div>

	</div>
	<div class='col-sm-6 col-md-6 col-lg-6' ng-hide='searchBar'>			
		<h2 class='text-center'>New Customer Entry Form</h2>
		<blockquote>
			<strong>First Name:</strong> {{newCustomer.firstName | noInfoFilter}}<br>
			<strong>Last Name:</strong> {{newCustomer.lastName | noInfoFilter}}<br>
			<strong>Email:</strong> {{newCustomer.email | noInfoFilter}}<br>
			<strong>Phones:</strong><span> {{newCustomer.phones[0] | noInfoFilter}}</span><br>
			<strong>Street 1:</strong> {{newCustomer.address.street1 | noInfoFilter}}<br>
			<strong>Street 2:</strong> {{newCustomer.address.street2 | noInfoFilter}}<br>
			<strong>City:</strong> {{newCustomer.address.city | noInfoFilter}}<br>
			<strong>State:</strong> {{newCustomer.address.state | noInfoFilter}}<br>

		</blockquote>
		<new-customer-form></new-customer-form>
			
	</div>
</div>